/* New CSS */

body {
    background-image: url('Images/stars2.png');
}

h1 {
    font-family: "Eras ITC";
    font-size: 6em;
    font-weight: 800;
    font-style: italic;
    margin-top: 5%;
    text-align: center;
    color: white;
}

#planets {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

th {
    font-family: 'Arial Rounded MT';
    font-size: 2em;
    color: white;
}

#info-box {
    font-family: 'Arial Rounded MT';
    font-size: 2em;
    color: white;
    text-align: center;
}

#planet-data {
    color: white;
}

.planet-img {
    width: 100px;
    height: 100px;
    margin: 20px;
    transition-property: height, width;
    transition-duration: 1s;
}

.planet-img:hover {
    width: 160px; 
    height: 160px;
    transition: height .1s, width .1s;
}

/* Old CSS */
.planet {
    display: none;
}